@media screen and (min-width: 292px) {
	.title {
		font-size: 2.5em;
	}

	#location {
		font-size: 2em;
	}


	#temperature-level,
	.celsius-degrees,
	.fahrenheit-degrees {
		font-size: 3em;
	}

	#temperature-description  {
		font-size: 1.5em;
	}
}

@media screen and (min-width: 1135px) {
	.title {
		font-size: 3em;
		top: 32% !important;
	}

	#location {
		font-size: 2.5em;
	}

	#temperature-level,
	.celsius-degrees,
	.fahrenheit-degrees {
		font-size: 4em;
	}

	#temperature-description  {
		font-size: 2em;
	}
}