/* --- GENERAL STYLES --- */
html, body, .outer-container {
	height: 100%;
}

/* These styles will be applied to the image
 that will be added dinamically */
html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

body {
	font-family: 'Montserrat', sans-serif;
}

body, h1, h2, p {
	margin: 0;
}


.title {
    position: relative;
    top: 35%;
}

.title,
#location {
	font-weight: 300;

}

#location,
.title,
#temperature-description {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Center outer-container horizontally */
.outer-container {
	width: 70%;
    margin: 0 auto;
    text-align: center;
}

/* Center inner-container vertically */
.inner-container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#temperature-description {
    margin-top: 25px;
}

/* --- LOCATION STYLES --- */

.location {
	margin-bottom: 25px;
}

/* --- TEMPERATURE STYLES --- */
#temperature-level,
.celsius-degrees,
.fahrenheit-degrees {
	display: inline-block;
}

/* Make these elements invisible until user allows to give its location */
.celsius-degrees,
.fahrenheit-degrees,
#weather-icon {
	visibility: hidden;
}