/* --- GENERAL STYLES --- */
html, body, .outer-container {
	height: 100%;
}

/* These styles will be applied to the image
 that will be added dinamically */
html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

body {
	font-family: 'Montserrat', sans-serif;
}

body, h1, h2, p {
	margin: 0;
}

/* Title position from its initial position */
.title {
    position: relative;
    top: 35%;
}

.title,
#location {
	font-weight: 300;

}

#location,
.title,
#temperature-description {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Center outer-container horizontally */
.outer-container {
	width: 70%;
    margin: 0 auto;
    text-align: center;
}

/* Center inner-container vertically */
.inner-container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* --- LOCATION STYLES --- */

.location {
	margin-bottom: 25px;
}

/* --- TEMPERATURE STYLES --- */

#temperature-description {
    margin-top: 25px;
}

#temperature-level,
.celsius-degrees,
.fahrenheit-degrees {
	display: inline-block;
}


/* Make these elements invisible until user allows to give its location */
.celsius-degrees,
.fahrenheit-degrees {
	visibility: hidden;
}

/* When user hovers button, make the cursor a pointer */
.celsius-degrees:hover,
.fahrenheit-degrees:hover {
	cursor: pointer;
}

/* Styles for Celsius and Fahrenheit button */
.celsius-degrees-on-click,
.fahrenheit-degrees-on-click {
	border: 2px solid #FFFFFF;
    padding: 5px 10px;
    border-radius: 10px;
}

/* Add ° symbol before Celsius and Fahrenheit */
.degrees-symbol::before {
	content: "°";
}


/* Disable text selection on buttons */
.celsius-paragraph,
.fahrenheit-paragraph {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.celsius-paragraph {
	color: #FFFFFF;
}