/* --- GENERAL STYLES --- */
html, body, .outer-container {
	height: 100%;
}

html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

body {
	font-family: 'Montserrat', sans-serif;
}

body, h1, h2 {
	margin: 0;
}

.title,
#location {
	font-weight: 300;
}

/* Center outer-container horizontally */
.outer-container {
	width: 70%;
    margin: 0 auto;
    text-align: center;
}

/* Center inner-container vertically */
.inner-container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* --- TEMPERATURE STYLES --- */
#temperature-level,
.celsius-degrees,
.fahrenheit-degrees {
	display: inline-block;
}

/* Make these elements invisible until user allows to give its location */
.celsius-degrees,
.fahrenheit-degrees,
#weather-icon {
	visibility: hidden;
}